$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;
$color-black: #000;
$color-white: hsl(0, 0%, 100%);
$font-exo2: "Exo 2", sans-serif;
$font-monts: "Montserrat", sans-serif;
